body{
    background-color: #051a20;
}

h1{
    color: #ffffff;
    font-family: 'NTR', sans-serif;
    font-size: 40px;
    text-align: center;
}

p{
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    
}